<footer class="footer">
    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center justify-content-between">
                    <h5>
                        Subscribe to our newsletter
                    </h5>
                </div>
                <div class="col-md-6">
                    <form>
                        <input name="email" placeholder="Your Email Address...." type="email" value="" />
                        <button>
                            Subscribe
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="logo">
                        <img alt="Footer Logo" class="img-fluid" data-nimg="1" decoding="async" height="50" loading="lazy" src="_next/imagef5f6?url=%2Fassets%2Fimages%2Flogo%2F02_logo.webp&amp;w=640&amp;q=75" srcset="/_next/image?url=%2Fassets%2Fimages%2Flogo%2F02_logo.webp&amp;w=256&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Flogo%2F02_logo.webp&amp;w=640&amp;q=75 2x" style="color:transparent" width="200" />
                        <p>
                            MedDoctors Are A Medical And Health Department Provider Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care Field.
                        </p>
                        <ul class="footer-icon">
                            <li>
                                <a aria-label="fab fa-facebook-f" href="#">
                                    <i class="fab fa-facebook-f">
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="fab fa-twitter" href="#">
                                    <i class="fab fa-twitter">
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="fab fa-instagram" href="#">
                                    <i class="fab fa-instagram">
                                    </i>
                                </a>
                            </li>
                            <li>
                                <a aria-label="fab fa-linkedin-in" href="#">
                                    <i class="fab fa-linkedin-in">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="footer-title">
                        <h4>
                            Quick Link
                        </h4>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="about.html">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="doctors.html">
                                Our Doctors
                            </a>
                        </li>
                        <li>
                            <a href="testimonial.html">
                                Testimonial
                            </a>
                        </li>
                        <li>
                            <a href="gallery.html">
                                Gallery
                            </a>
                        </li>
                        <li>
                            <a href="blog.html">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="contact.html">
                                Contact
                            </a>
                        </li>
                        <li>
                            <a href="appointment.html">
                                Appointment
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="footer-title">
                        <h4>
                            Help Links
                        </h4>
                    </div>
                    <ul class="links">
                        <li>
                            <a href="department.html">
                                Departments
                            </a>
                        </li>
                        <li>
                            <a href="sponsors.html">
                                Sponsors
                            </a>
                        </li>
                        <li>
                            <a href="faqs.html">
                                FAQs
                            </a>
                        </li>
                        <li>
                            <a href="shop.html">
                                Shop
                            </a>
                        </li>
                        <li>
                            <a href="error-page.html">
                                Error Page
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="footer-title">
                        <h4>
                            Open - Closed Time
                        </h4>
                    </div>
                    <ul class="opening-hours">
                        <li>
                            Monday
                            <span>
                                8.00 - 21.00
                            </span>
                        </li>
                        <li>
                            Tuesday
                            <span>
                                8.00 - 21.00
                            </span>
                        </li>
                        <li>
                            Wednesday
                            <span>
                                8.00 - 21.00
                            </span>
                        </li>
                        <li>
                            Thursday
                            <span>
                                8.00 - 21.00
                            </span>
                        </li>
                        <li>
                            Friday
                            <span>
                                8.00 - 21.00
                            </span>
                        </li>
                        <li>
                            Saturday/Sunday
                            <span>
                                8.00 - 21.00
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>
                2025 MedDoctors. With Love by
                <a href="https://themeforest.net/user/ar-coder/portfolio">
                    AR-Coder
                </a>
            </p>
            <ul>
                <li>
                    <a href="#">
                        Terms &amp; Conditions
                    </a>
                </li>
                <li>
                    <a href="#">
                        Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="#">
                        Sitemap
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>